/* General styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    /* border: 2px solid rgb(189, 117, 117); */
}

a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 2% 3%;
    font-weight: bold;
    width: 30%;
    margin-top: 2%;
}

/* Font sizing */
button, nav a, header p, .infoImg p, .blue {
    font-size: 1.1vw;
}

nav h1 {
    font-size: 1.6vw;
}

.white h1, .grey .quote {
    font-size: 2.5vw;
}

/* font color */
nav a, header p, footer, .blue p {
    color: #E5E7EB;
}

.blue, button {
    color: white;
}

.grey, .white h1{
    color: #1F2937;
}


/* Navigation, header and footer styling */
nav, header, footer {
    background-color: #1F2937;
    color: #F9FAF8;
    width: 100%;
    padding: 1.5% 18%;
}

nav, header {
    display: flex;
    justify-content: space-between;
}

nav .links {
    flex-grow: 1;
    text-align: right;
}

nav a {
    margin-left: 2%;
}

footer {
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 1vw;
}

/* Header */
header {
    padding: 6% 18% 9% 18%;
}

header h1 {
    font-size: 3.2vw;
    font-weight: bolder;
}

.headerDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header img {
    width: 90%;
    margin-left: 5%;
    object-fit: cover;
}


/* First Section of Main - square pictures */
.white {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white h1{
    font-weight: bolder;
    text-align: center;
    margin-top: 2.5%;
}

.info {
    display: flex;
    justify-content: center;
}

.infoImg {
    width: 11%;
    margin: 3% 1.5% 6% 1.5%;
}

.infoImg img {
    width: 100%;
    border: 5px solid #3882F6;;
    border-radius: 20px;
}

.infoImg p {
    text-align: center;
    color: #67686b;
}


/* Second Section of Main - quote with grey background */
.grey {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8%;
}

.grey .quote, .grey .reference {
    width: 65%;
}

.grey .quote {
    font-style: italic;
    font-weight: lighter;
}

.grey .reference {
    font-size: 2vw;
    font-weight: bold;
    text-align: right;
}


/* Third Section of Main - call to action blue box */
.blue {
    background-color: #3882F6;
    width: 65%;
    margin: 6% auto;
    padding: 3% 2%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.blue button {
    border: medium solid white;
    width: 15%;
    margin-top: auto;
    padding: 1% 3%;
}